.ft{
    margin-top: 100px;
    margin-bottom: 60px;
}

.contacth{
    display: flex;
    justify-content: center;
    font-weight: bold;
        font-family: 'El Messiri', sans-serif !important;
}

.para-con{
    margin-top: 20px;
    margin-bottom: 25px;
    font-style: italic !important;
}

.contact{
    margin-bottom: 60px;
}

.bod{
    margin-bottom: 90px;
}

button{
    margin-bottom: 100px;
}


@media only screen and (max-width: 900px){

    .contacth{
        font-size: 2.5rem;
    }

    .para-con{
        text-align: center;
        font-style: italic !important;
    }
}